@import "tailwindcss";

@theme {
  --color-primary: #000000;
  --color-secondary: #000000;
  --color-tertiary: #000000;
  --color-quaternary: #000000;
  --color-quinary: #000000;
  --color-senary: #000000;
  --color-septenary: #000000;
  --color-octonary: #000000;
  --color-nonary: #000000;
  --color-denary: #000000;
}

@layer components {
  .btn {
    @apply rounded-lg bg-emerald-600 px-4 py-2 text-sm font-semibold text-white hover:bg-emerald-700;
  }
}